{% extends 'portfolio/base.html' %}
{% load grupo_tags %}
{% block content %}

<div class="page-header">
    <div>
        <div class="page-label">// portfólio</div>
        <div class="page-title">Projetos</div>
    </div>
    <!-- botão criar só aparece para gestor-portfolio -->
    {% if request.user.is_authenticated and request.user|no_grupo:'gestor-portfolio' %}
        <a href="/projetos/novo/" class="btn btn-primary">+ Novo Projeto</a>
    {% endif %}
</div>

<div class="card">
    <table>
        <thead><tr><th>Título</th><th>UC</th><th>GitHub</th>
        {% if request.user.is_authenticated and request.user|no_grupo:'gestor-portfolio' %}
            <th>Ações</th>
        {% endif %}
        </tr></thead>
        <tbody>
        {% for p in projetos %}
            <tr>
                <td class="text-dark">{{ p.titulo }}</td>
                <td>{{ p.uc.sigla }}</td>
                <td>{{ p.link_github }}</td>
                <!-- botões editar/apagar só para gestor-portfolio -->
                {% if request.user.is_authenticated and request.user|no_grupo:'gestor-portfolio' %}
                <td><div class="actions">
                    <a href="/projetos/{{ p.pk }}/editar/" class="btn btn-edit">✎ Editar</a>
                    <a href="/projetos/{{ p.pk }}/apagar/" class="btn btn-del">✕ Apagar</a>
                </div></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}